beautifulsoup4==4.6.0
Django==2.0.4
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Pillow==3.3.0
Markdown==2.6.6
bleach==1.4.3
psycopg2==2.6.1
whitenoise==3.2
google-api-python-client==1.6.6
Pillow==5.1.0
pygsheets==1.1.4
scikit-learn==0.19.1
scipy==1.0.1
raschietto==0.1.1
requests==2.18.4
virtualenv==15.1.0
sklearn==0.0
statsmodels==0.8.0
seaborn==0.8.1
pandas==0.22.0
numpy==1.14.2
