body {
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'EVO';
  src: url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.eot');
  src: url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.woff2') format('woff2'),
       url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.woff') format('woff'),
       url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.ttf') format('truetype'),
       url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.svg#MADEEvolveSansEVO-Medium') format('svg'),
       url('Evolve/EVO/Light/MADEEvolveSansEVO-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.brand-logo {
  font-family:EVO
}

form {
    display: inline-block;
}
